@font-face {
    font-family: "Harmonia Sans Regular";
    src: url("C:/USERS/ALBERT/APPDATA/LOCAL/MICROSOFT/WINDOWS/FONTS/HARMONIA SANS W01 REGULAR.OTF") format("opentype");
}

@font-face {
    font-family: "Bahnschrift Light";
    src: url("C:/WINDOWS/FONTS/BAHNSCHRIFT.TTF") format("truetype");
}

.Header {
    background-color: #fafafb;
    margin-bottom: -70px;
    margin-top: -10px;
    text-align: center;
}

.HeaderText {
    font-family: "Harmonia Sans Regular";
    font-size: 72px;
}

.Menu {
    background-color: #c8c8c8;
    padding: 2vh 2vw 4vh 2vw;
    margin-left: -10px;
}

.MenuLogo {
    display: inline;
    margin-left: 7vw;
    float: left;
}

#MenuLogo01, #MenuLogo02 {
    font-family: "Bahnschrift Light";
    font-size: 28px;
}

#MenuLogo02 {
    font-weight: bold;
    padding-right: 15px;
}

#MenuList {
    font-family: "Arial";
    font-size: 16px;

    list-style-type: none;
    margin-top: 8px;
}

.MenuListValue {
    float: left;
    padding-right: 20px;
}

.MenuSearchLayout {
    margin-top: -20px;
    float: left;
    padding-right: 10px;
}

#txtSearch {
    font-family: "Arial";
    font-size: 16px;

    width: 40vw;
    padding: 10px 10px;
}

.MenuAccount {
    float: left;
    margin-top: -20px;
}

#btnLogIn, #btnSignUp {
    background-color: #e1ecf4;
    
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;

    font-size: 18px;
    font-weight: bold;
}